## import libraries

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_excel('INT-lasAnimasCO.xlsx')

In [9]:
data

,Primary Name,Primary Phone1,Primary Email1,APN,Lot Acres,Assd Val,Est Value,Taxes / Yr,Address,City,...,Mail ZIP,Type,Owner Occ?,Owner Type,Longitude,Latitude,Purchase Date,Purchase Amt,Purchase Mos Since,Year Assd
0,ALLEN ATKINSON,NaN,NaN,10010500,40.00,5680,5680,261,Unknown,Unknown,...,67410.0,LND,0,Individual,-104.319089,37.511113,NaT,NaN,NaN,2022
1,JULIE CUTTING,NaN,NaN,10012000,148.33,1390,1390,56,Unknown,Unknown,...,80863.0,LND,0,Individual,NaN,NaN,NaT,NaN,NaN,2022
2,PETER ATKINSON,NaN,NaN,10020500,35.41,330,330,15,Unknown,Unknown,...,95949.0,LND,0,Individual,-104.335529,37.389220,NaT,NaN,NaN,2022
3,JOE ABEYTA,NaN,NaN,10023500,157.00,11630,11630,608,Unknown,Unknown,...,81082.0,LND,0,Married,NaN,NaN,NaT,NaN,NaN,2022
4,SCOTT LANDRY,NaN,NaN,10027500,13.90,12090,606247,336,21843 COUNTY ROAD 50.9 9,AGUILAR,...,80108.0,LND,0,Married,NaN,NaN,2019-09-18,79000.0,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2741,RICKIE NODEN,NaN,NaN,14653000,35.10,330,330,10,8650 WIDOW WOMAN CANYON RD,TRINIDAD,...,81082.0,LND,0,Married,-104.698892,37.118183,NaT,NaN,NaN,2022
2742,VINCENT FRANK,NaN,NaN,14653400,35.94,3340,18000,153,Unknown,MODEL,...,80132.0,LND,0,Individual,-104.136590,37.633613,2023-12-21,250000.0,30.0,2022
2743,CHRISTINE YUNCKES,NaN,NaN,14671500,85.40,800,800,25,6751 FARVIEW VALLEY RD,TRINIDAD,...,8723.0,LND,0,Individual,-104.672809,37.086257,NaT,NaN,NaN,2022
2744,CARL MESTAS,NaN,NaN,12780510,28.09,24440,24440,984,9372 COUNTY ROAD 67 5,TRINIDAD,...,81226.0,LND,0,Individual,-104.525815,37.126631,NaT,NaN,NaN,2022
2745,JAMES JONES,NaN,NaN,13866800,35.48,10290,10290,286,29150 KINDIG DR,AGUILAR,...,76028.0,LND,0,Married,NaN,NaN,2008-11-26,61000.0,NaN,2022

### Removing Duplicated Values in ('Mail Address','Mail City','Mail State','Mail Zip') Columns

In [9]:
data = data.drop_duplicates(['Mail Address','Mail City','Mail State','Mail ZIP'])

### Removing Null Values in ('Mail Address', 'Mail City', 'Mail State', 'Mail Zip')

In [10]:
data.isnull().sum()

Primary Name             5
Primary Phone1        2746
Primary Email1        2746
APN                      0
Lot Acres                0
Assd Val                 0
Est Value                0
Taxes / Yr               0
Address                  0
City                     0
County                   0
ZIP                   1319
Subdivision            837
Zoning                2746
Mail Address             0
Mail City                0
Mail State              19
Mail ZIP                17
Type                     0
Owner Occ?               0
Owner Type               0
Longitude              615
Latitude               615
Purchase Date         1806
Purchase Amt          1808
Purchase Mos Since    2402
Year Assd                0
dtype: int64

In [11]:
data.dropna(subset=['Mail Address','Mail City','Mail State','Mail ZIP','Primary Name'], inplace=True)

In [12]:
# Function to check if a string ends with any of the specified substrings
def ends_with_specific_strings(s):
    words = ['company', 'inc', 'llc', 'state','land']
    return any(s.lower().endswith(word) for word in words)

# Apply the filter
mask = data['Primary Name'].apply(lambda x: not ends_with_specific_strings(x))
data = data[mask]

data

,Primary Name,Primary Phone1,Primary Email1,APN,Lot Acres,Assd Val,Est Value,Taxes / Yr,Address,City,...,Mail ZIP,Type,Owner Occ?,Owner Type,Longitude,Latitude,Purchase Date,Purchase Amt,Purchase Mos Since,Year Assd
0,ALLEN ATKINSON,NaN,NaN,10010500,40.00,5680,5680,261,Unknown,Unknown,...,67410.0,LND,0,Individual,-104.319089,37.511113,NaT,NaN,NaN,2022
1,JULIE CUTTING,NaN,NaN,10012000,148.33,1390,1390,56,Unknown,Unknown,...,80863.0,LND,0,Individual,NaN,NaN,NaT,NaN,NaN,2022
2,PETER ATKINSON,NaN,NaN,10020500,35.41,330,330,15,Unknown,Unknown,...,95949.0,LND,0,Individual,-104.335529,37.389220,NaT,NaN,NaN,2022
3,JOE ABEYTA,NaN,NaN,10023500,157.00,11630,11630,608,Unknown,Unknown,...,81082.0,LND,0,Married,NaN,NaN,NaT,NaN,NaN,2022
4,SCOTT LANDRY,NaN,NaN,10027500,13.90,12090,606247,336,21843 COUNTY ROAD 50.9 9,AGUILAR,...,80108.0,LND,0,Married,NaN,NaN,2019-09-18,79000.0,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2741,RICKIE NODEN,NaN,NaN,14653000,35.10,330,330,10,8650 WIDOW WOMAN CANYON RD,TRINIDAD,...,81082.0,LND,0,Married,-104.698892,37.118183,NaT,NaN,NaN,2022
2742,VINCENT FRANK,NaN,NaN,14653400,35.94,3340,18000,153,Unknown,MODEL,...,80132.0,LND,0,Individual,-104.136590,37.633613,2023-12-21,250000.0,30.0,2022
2743,CHRISTINE YUNCKES,NaN,NaN,14671500,85.40,800,800,25,6751 FARVIEW VALLEY RD,TRINIDAD,...,8723.0,LND,0,Individual,-104.672809,37.086257,NaT,NaN,NaN,2022
2744,CARL MESTAS,NaN,NaN,12780510,28.09,24440,24440,984,9372 COUNTY ROAD 67 5,TRINIDAD,...,81226.0,LND,0,Individual,-104.525815,37.126631,NaT,NaN,NaN,2022
2745,JAMES JONES,NaN,NaN,13866800,35.48,10290,10290,286,29150 KINDIG DR,AGUILAR,...,76028.0,LND,0,Married,NaN,NaN,2008-11-26,61000.0,NaN,2022

In [13]:
data.to_csv('INT-lasAnimasCO(Cleaned).csv', index=False)